@font-face {
    font-family: awesome;
    src: url("./fonts/Shitake.otf");
}

@keyframes glow {
    0% {color: #03071e;}
    50% {color: #000000;}
    100% {color: #03071e;}
}

@keyframes border-glow {
    0% {border-color: #03071e;}
    50% {border-color: #000000;}
    100% {border-color: #03071e;}
}

* {
    margin: 0;
    padding: 0;
    font-family: awesome;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: #03071e;
    text-align: center;
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzZrZTIyZzAzeXNlYzV4endjOTl3MTRrd2dybTU2cXRjaHNtYWxvbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HCuv0T4T8AMtW/giphy.gif");
}

h1 {
    margin-top: 40px;
}

a {
    color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 1.9em;
    position: absolute;
    bottom: 8vh;   
    width: 100%;
    margin: 0 auto; 
    gap: 1em;
}

.footer .link {
    text-decoration: none;
    letter-spacing: 0.08em;
    animation: glow 4s infinite;
    transition: ease-in-out;
    transition: letter-spacing 1s;
    padding: .2em;
    width: 180px;
    margin: 0 auto;
    text-shadow: 0px 0px 1px black;
    border: 2px solid black;
    border-radius: .4em;
    background-color: white;
}

.footer .link:hover{
    letter-spacing: 0.2em;
    border-bottom: 4px solid #000000;
}

section h3 {
    margin-top: 2em;
}

.link-ref {
    color: #14213d;
    text-decoration: none;
    padding-bottom: .1em;
    border-bottom: 2px solid #14213d;
}

.link-ref:hover {
    color: #000000;
    border-color: #000000;
}

#welcome-main h1 {
    margin: 2em auto 0 auto;
    font-size: 2.6em;
    letter-spacing: 0.1em;
    animation: glow 4s infinite;
    transition: ease-in-out;
    text-shadow: 0px 0px 1px black;
    background-color: white;
    width: 80%;
    border-radius: 1em;
    border: 2px solid black;
    padding: .2em 0;
}

#welcome-main img {
    margin-top: 4rem;
    width: 220px;
    border-radius: 100%;
    border: 2px solid #14213d;
    animation: border-glow 4s infinite;
    transition: ease-in-out;
}

@media (min-height: 80rem) {
    .footer {
        bottom: 10rem;
    }
}

@media (min-width: 1280px) {
    .footer {
        font-size: 2.5rem;
    }

    .footer .link {
        width: 300px;
        letter-spacing: .2em;
    }

    .footer .link:hover {
        letter-spacing: .3em;
    }

    #welcome-main h1 {
        font-size: 2.5em;
        margin-top: 2em;
    }
    
    #welcome-main img {
        width: 300px;
        margin-top: 4em;
    }
}

/* Log In Page */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding: 2rem;
    box-sizing: border-box;
    align-items: center;
    margin-top: 2rem;
}

form label {
    font-size: 2em;
    animation: glow 4s infinite;
    transition: ease-in-out;
    letter-spacing: .1em;
}

form input {
    width: 60%;
    padding: .6em;
    border-radius: 2em;
    font-family: awesome;
    text-transform: lowercase;
}

form button,
#out {
    font-size: 1.2em;
    padding: .8rem 2rem;
    border-radius: 1em;
    border: 2px solid;
    margin-top: 1em;
    animation: border-glow 4s infinite;
    transition: ease-in-out;
    color: white;
    background-color: #22223b;
    transition: 1s;
    letter-spacing: .1em;
    font-family: awesome;
    width: 80%;
}

#out {
    width: 50%;
}

#sec-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    align-items: center;
}

form input:focus {
    outline: none;
    padding: .8em;
}

form input:hover {
    border: 2px solid #14213d;
}

form button:hover,
#out:hover {
    padding: 1rem 2.2rem;
    letter-spacing: .2em;
}

section h2 {
    margin-top: 4em;
}

.lmust {
    margin-top: 8rem;
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
}

.lmust:hover {
    color: #fae588;
}

.money {
    color: #ffee32;
    font-size: 3rem;
}

.hey {
    color: #fae588;
    font-size: 3rem;
}

.to-do {
    color: red;
}

.todo-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item {
    font-size: 2em;
    cursor: pointer;
    letter-spacing: .1em;
}

.todo-nocontent {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.todo-nocontent div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-plus {
    border: 1px solid black;
    padding: .7em;
    border-radius: 1em;
}

#title {
    padding: .3em;
    margin-right: .5em;
    border-radius: .5em;
}

#title:focus {
    outline: none;
}