@font-face {
    font-family: awesome;
    src: url("./fonts/Shitake.otf");
}


* {
    margin: 0;
    padding: 0;
    font-family: awesome;
    user-select: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: #03071e;
    text-align: center;
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzZrZTIyZzAzeXNlYzV4endjOTl3MTRrd2dybTU2cXRjaHNtYWxvbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HCuv0T4T8AMtW/giphy.gif");
}

h1 {
    margin-top: 40px;
}

a {
    color: black;
}


.nav h1 {
    grid-area: "t";
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 1.9em;
    position: absolute;
    bottom: 8vh;   
    width: 100%;
    margin: 0 auto; 
    gap: 1em;
}

.footer .link {
    text-decoration: none;
    letter-spacing: 0.08em;
    animation: glow 4s infinite;
    transition: ease-in-out;
    transition: letter-spacing 1s;
    padding: .2em;
    width: 180px;
    margin: 0 auto;
    text-shadow: 0px 0px 1px black;
    border: 2px solid black;
    border-radius: .4em;
    background-color: white;
}

.footer .link:hover{
    letter-spacing: 0.2em;
    border-bottom: 4px solid #000000;
}

section h3 {
    margin-top: 2em;
    text-shadow: 0px 0px 1px black;
    letter-spacing: .02em;
    font-size: 1.3em;
    color: #03071e;
}

.link-ref {
    color: #03071e;
    text-decoration: none;
    padding-bottom: .1em;
    border-bottom: 2px solid #03071e;
}

.link-ref:hover {
    color: #3d5a80;
    border-color: #3d5a80;
}

#welcome-main h1 {
    margin: .4em auto 0 auto;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    animation: glow 4s infinite;
    transition: ease-in-out;
    text-shadow: 0px 0px 1px black;
    background-color: white;
    width: 80%;
    border-radius: 1em;
    border: 2px solid black;
    padding: .2em 0;
}

#welcome-main img {
    margin-top: 4rem;
    width: 220px;
    border-radius: 100%;
    border: 2px solid #14213d;
    animation: border-glow 4s infinite;
    transition: ease-in-out;
}

@media (min-height: 80rem) {
    .footer {
        bottom: 10rem;
    }
}

@media (min-width: 1280px) {
    .footer {
        font-size: 2.5rem;
    }

    .footer .link {
        width: 300px;
        letter-spacing: .2em;
    }

    .footer .link:hover {
        letter-spacing: .3em;
    }

    #welcome-main h1 {
        font-size: 2.5em;
        margin-top: 2em;
    }
    
    #welcome-main img {
        width: 300px;
        margin-top: 4em;
    }
}

/* Log In Page */

.sec-login {
    display: grid;
    grid-template-rows: 4em auto;
    grid-template-areas: 
        "t"
        "c";
        height: 100vh;
        box-sizing: border-box;
        overflow: hidden;
        padding: 1em;
}

.sec-login h1 {
    grid-area: "t";
    align-self: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding: 2rem;
    box-sizing: border-box;
    align-items: center;
    margin-top: 1rem;
    grid-area: "c";
}

form label {
    font-size: 2em;
    animation: glow 4s infinite;
    transition: ease-in-out;
    letter-spacing: .1em;
}

form input {
    width: 60%;
    padding: .6em;
    border-radius: 2em;
    font-family: awesome;
    text-transform: lowercase;
    border: 2px solid black;
}

form button,
#out {
    font-size: 1.2em;
    padding: .8rem 2rem;
    border-radius: 1em;
    border: 2px #14213d solid;
    margin-top: 1em;
    animation: border-glow 4s infinite;
    transition: ease-in-out;
    color: white;
    background-color: #22223b;
    transition: 1s;
    letter-spacing: .1em;
    font-family: awesome;
    width: 80%;
}


#sec-inside {
    display: grid;
    grid-template: auto / 1fr auto;
    grid-template-areas: 
        "n"
        "c";
    justify-content: space-between;
    height: 90vh;
    align-items: center;
}

.nav {
    grid-area: "n";
    align-self: flex-start;
    display: grid;
    width: 100%;
    padding: .1em 1em .2em 1em;
    position: fixed;
    z-index: 1;
    transition: 1;
}

.icon-menu {
    font-size: 2.3em;
    background-color: white;
    grid-area: "m";
}

form input:focus {
    outline: none;
    padding: .8em;
}

form input:hover {
    border: 2px solid #3d5a80;
}

form button:hover,
#out:hover {
    padding: 1rem 2.2rem;
    letter-spacing: .2em;
}

section h2 {
    margin-top: 4em;
}

.toDoList {
    margin-top: 4em;
    grid-area: c;
    align-self: flex-start;
}

.lmust {
    margin-top: 8rem;
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
}

.lmust:hover {
    color: #fae588;
}

.money {
    color: #ffee32;
    font-size: 3rem;
}

.hey {
    color: #fae588;
    font-size: 3rem;
}

.to-do {
    color: red;
}

.todo-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6em;
}

.icon-minus, .icon-done {
    font-size: 2em;
    background-color: white;
}

.icon-minus, .icon-plus, .icon-star, .icon-done {
    transition: 1s;
}

.icon-minus:hover, .icon-plus:hover, .icon-star:hover {
    transform: rotate(90deg);
}

.icon-done:hover {
    transform: translateY(-0.1em);
}

.todo-item {
    font-size: 2em;
    cursor: pointer;
    letter-spacing: .1em;
}

.todo-nocontent {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: -2em;
    align-items: center;
}

.todo-nocontent div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-plus {
    border: 2px solid black;
    padding: .7em;
    border-radius: 1em;
    font-size: 1.2em;
    background-color: white;
}

.icon-plus:hover, .icon-star:hover {
    cursor: pointer;
}

.icon-star {
    font-size: 1.3em;
}

.icon-play {
    font-size: 2em;
    background-color: white;
    transition: 1s;
    transition-property: transform;
    padding: .2em;
    border-radius: 1em;
    border: 3px solid transparent;
}

.icon-play:hover {
    border: 3px solid black;
}

.input-title {
    padding: .3em;
    margin-right: .5em;
    border-radius: .5em;
    border: 2px solid black;
}

.input-title:focus {
    outline: none;
}

.todo-withcontent {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    align-items: center;
}

.todo-withcontent div {
    display: flex;
    justify-content: space-between;
    margin: 0 .5em;
    align-items: center;
}

.todo-withcontent h3, .todo-nocontent h3 {
    font-size: 1.8em;
    letter-spacing: .12em;
    margin-top: 1em;
    position: relative;
}

.favList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 15em;
}

.favList-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.favList-items p {
    margin-top: .5em;
    color: black;
    border: 3px solid black;
    padding: .7em;
    border-radius: 1em;
    background-color: white;
    font-size: 1.3em;
}

.favList-items p:hover {
    border-left-color: gold;
    border-bottom-color: gold;
}

.seconds {
    font-size: 1.6em;
}